@charset "UTF-8";

body{
    background-image: url("imagens/fundo-madeira.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

main{
    position: relative;
    height: 100vh;
}

#Telefone{
    width: 311px;
    height: 627px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#Redes{
    height: 500px;
    width: 70px;
}

.Celular{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
}

iframe{
    position: absolute;
    top: 50%;
    left: 50%;

    height: 473px;
    width: 270px;

    transform: translate(-50%, -50%);
}

#Redes{
    text-align: right;
}

a > img{
    border-radius: 50%;
    height: 55px;
    width: 55px;
    padding: 5px;
    margin-top: 5px;
}

a > img:hover{
    border: 2px solid white;
    transform: translate(-2px, -3px);
    transition: transform 0.5s;
}
