@charset "UTF-8";

body{
    background-image: url("imagens/fundo-madeira.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

main{
    position: relative;
    height: 100vh;
}

#Telefone{
    width: 311px;
    height: 627px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#Redes{
    height: 500px;
    width: 100px;
}

.Celular{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

iframe{
    position: absolute;
    top: 50%;
    left: 50%;

    height: 470px;
    width: 270px;

    transform: translate(-50%, -50%);
}

a > img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: block;
}
